.App {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1min-content 1fr;
  grid-template-areas: "Header Header" "Refiners Results";
  grid-gap: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .title {
  margin: 0;
}
.rdb-header {
  grid-area: Header;
}

.rdb-refiners {
  grid-area: Refiners;
  position: relative;
}
.rdb-clear-refiners {
  position: absolute;
  top: -20px;
  right: -30px;
}

.rdb-item-results {
  grid-area: Results;
}

.card-stack > * {
  margin-bottom: 20px;
}
.card {
  border: 1px solid #eee;
  padding: 20px;
}
.rdb-results-inspector {
  position: absolute;
  /* width: 100%; */
  left: 0px;
  right: 0;
  /* border: 1px dashed #aaa; */
  background: #fff;
  padding: 10px;
  box-shadow: 1px 1px 4px #dddbdb;
  top: 67px;
  padding-bottom: 0;
  z-index: 1;
}
