
<nav class='p-4 text-white'>
<div class='py-4'>
  <a href='/' class='font-mono text-3xl tracking-wide opacity-80 hover:opacity-100'>
    RefinerDB
  </a>
</div>
  <div class='py-4'>
    <h3 class='text-xl font-bold'>Setup</h3>
    <ul class='pl-4 text-lg'>
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>Installation</a>
      </li >
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='/setup/quick-start'>Quick Start</a>
      </li >
    </ul>
  </div>


  <div class='py-4'>
    <h3 class='text-xl font-bold'>Basics</h3>
    <ul class='pl-4 text-lg'>
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>Using your data</a>
      </li >
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>Indexes</a>
      </li >
    </ul>
  </div>

    <div class='py-4'>
    <h3 class='text-xl font-bold'>Examples</h3>
    <ul class='pl-4 text-lg'>
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>Movies & TV</a>
      </li >
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>Rick & Morty</a>
      </li >
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>Dev.to Articles</a>
      </li >
    </ul>
  </div>

  <div class='py-4'>
    <h3 class='text-xl font-bold'>API Reference</h3>
    <ul class='pl-4 text-lg'>
      <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='/reference/core-api'>Core</a>
      </li >
          <li class='mt-2'>
        <a class='opacity-80 hover:opacity-100' href='#'>React</a>
      </li>
    </ul>
  </div>
</nav>