---
import PropsTable from "../components/PropsTable/PropsTable.astro";
let methods = Astro.props.methods;
interface TableProperty {
  name: string;
  description?: string;
  isRequired: "Required" | "Optional";
  type: string;
}
let tableProperties : TableProperty[] = methods.filter(Boolean).map(method => {
  let tableProperty : TableProperty = {
    name: method.name,
    description: method?.documentation?.contentsRaw,
    isRequired: "Required",
    type: method?.signatures?.[0]?.type
  }
  return tableProperty;
})
---

<h3 class='mt-3 text-xl'>Methods</h3>

<PropsTable properties={tableProperties} />
